
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<link rel="stylesheet" href="~/Content/background.css" />
<body>
    <center>
        <div style="background-color: rgba(255, 255, 255, 0.5); width: 50%;">
            <center><p><h3 style="color:brown">The goal of our company is to help the future missionaries to get questions about their missions answered by those that have been to the mission.</h3></p></center>
        </div>

    </center>


</body>

